.contact-info {
	& li.phone a {
	  background-image: url("#{$path-img}/phonewhite.png");
	  
	}
	& li.mail a {
	  background-image: url("#{$path-img}/mailwhite.png");
	}
	& li.twitter a {
	  background-image: url("#{$path-img}/twittericon-1.png");
	}
	& a:hover {
	  color:$text-color-light;
	}
}
