/*-- Fonts --*/

@font-face {
	font-family:Fugaz-one;
		src: url("#{$path-fonts}/FugazOne-Regular.ttf") format("truetype");
}
@font-face {
	font-family:FredrickaTheGreat;
		src: url("#{$path-fonts}/FrederickatheGreat-Regular.ttf") format("truetype");
}
@font-face {
	font-family:Belleza;
		src: url("#{$path-fonts}/Belleza-Regular.ttf") format("truetype");
}